div.chat
	div.chat__container
		div.header
			h2='You are logged in as ' + (user || '')
			small
				a(href='/main')='To main menu'
		div.chat__box

			if !messages.length
				h3 Пока нет сообщений

			each message in messages
				div.message-box(class=message.isMine ? 'left-img' : 'right-img')
					div.picture
						img(src=message.avatar title='name of user')
						span.time=message.date && message.date.toTimeString().split(' ')[0]
					div.message
						span=message.name
						if message.html
							p!=message.text
						else
							p=message.text
