form
	each widget in widgets
		- var tagName = widget.tag || 'input'
		- var inner = widget.inner || ''
		div
			if widget.label
				- var innerLabel = widget.label.inner || ''
				label(for=widget.attributes.id)
					if (widget.attributes && ['checkbox', 'radio'].includes(widget.attributes.type))
						#{tagName}&attributes(widget.attributes)=inner
						span.form__label_inner=innerLabel
					if (!(widget.attributes && ['checkbox', 'radio'].includes(widget.attributes.type)))
						span=innerLabel
						#{tagName}&attributes(widget.attributes)=inner

			if (!widget.label)
				#{tagName}&attributes(widget.attributes)=inner

